.content{
            padding: 20px;
            align-items: center;
            display: flex;
            flex-direction: column;
}
#fleet_content{
        /* display: flex;
        justify-content: space-around; */
        gap: 20px;
        align-items: center;
    }
    button{
        padding: 10px;
    }
    #category, #categoryy, #availability, input{
        padding: 10px;
    }